<app-header-login></app-header-login>
<section class="section__completar">
  <h2 class="container_section">Completa tu perfil profesional</h2>
  <div class="contenedor__completar">
    <form action="" class="form__completar container_section">
      <h3>Perfil profesional y académico</h3>
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Foto de perfil</label>
          <p>Mínimo 200x200 px, en formato cuadrado</p>
        </div>
        <div class="input__completar img__flex">
          <img
            [src]="imageSrc"
            class="add__img"
            alt="Selecciona una imagen"
            (click)="onImageClick(fileInput)"
          />
          <input
            type="file"
            #fileInput
            accept="image/*"
            style="display: none"
            (change)="onFileSelected($event)"
          />
          <!-- Botón que permite cambiar la imagen -->
          <button
            class="btn2"
            type="button"
            *ngIf="isImageUploaded"
            (click)="onImageClick(fileInput)"
          >
            Cambiar foto de perfil
          </button>
        </div>
      </div>
      <hr />
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Rol profesional</label>
          <p>
            Ej.: "Desarrollador", "Administrador de empresas" o "Ejecutivo de
            cuentas"
          </p>
        </div>
        <div class="input__completar">
          <input type="text" class="input__text" />
        </div>
      </div>
      <hr />
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Experiencia laboral</label>
          <p>
            Habla sobre tu experiencia laboral, tus conociimientos, logros, etc.
          </p>
        </div>
        <div class="input__completar">
          <textarea name="" id="" class="input__textarea"></textarea>
        </div>
      </div>
      <hr />
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Formación académica</label>
          <p>
            Menciona estudios formales, talleres, cursos y formación autodidacta
            que sean relevantes para el cargo
          </p>
        </div>
        <div class="input__completar">
          <textarea name="" id="" class="input__textarea"></textarea>
        </div>
      </div>
      <hr />
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Habilidades</label>
          <p>Agrega las habilidades que ayuden a mejorar tu perfil</p>
        </div>
        <div class="input__completar">
          <textarea name="" id="" class="input__textarea"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="contenedor__completar white__add">
    <form action="" class="form__completar container_section">
      <div class="content__completar">
        <div class="text__completar">
          <b>CV actualizado</b>
          <p>Máximo 5 MB, solo archivos PDF</p>
        </div>
        <div class="input__completar">
          <button
            class="btn2"
            type="button"
            *ngIf="!fileName"
            (click)="triggerFileInput()"
          >
            Subir CV
          </button>
          <input
            id="fileInput"
            type="file"
            accept=".pdf"
            (change)="handleFileUpload($event)"
            style="display: none"
          />

          <b class="name__cv" *ngIf="fileName" (click)="triggerFileInput()">{{
            fileName
          }}</b>
        </div>
      </div>
      <div class="content__completar">
        <div class="text__completar">
          <b>Nivel de ingles</b>
          <p>Sugerimos usar un test estándar y reportar tu resultado aquí.</p>
        </div>
        <div class="input__completar">
          <select name="" class="btn2" id="">
            <option value="">A0: Principiante</option>
            <option value="">A1-A2: Básico</option>
            <option value="">A2-B1: Pre-Intermedio</option>
            <option value="">B1: Intermedio</option>
            <option value="">B2: Intermedio-Alto</option>
            <option value="">C1-C2: Avanzado</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="contenedor__completar">
    <form action="" class="form__completar container_section">
      <h3>Redes sociales</h3>
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Linkedin</label>
          <p>
            El perfil de LinkedIn ayudará a que empresas interesadas en ti te
            conozcan mejor.
          </p>
        </div>
        <div class="input__completar">
          <input type="text" class="input__text" />
        </div>
      </div>
      <hr />
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Twitter</label>
          <p>Escribe tu usuario sin el "&#64;" eje: “twitter.com/pedroperez”</p>
        </div>
        <div class="input__completar">
          <input type="text" class="input__text" />
        </div>
      </div>
      <hr />
      <div class="content__completar">
        <div class="text__completar">
          <label for="">Facebook</label>
          <p>Agrega tu perfil de Facebook si lo consideras necesario</p>
        </div>
        <div class="input__completar">
          <input type="text" class="input__text" />
        </div>
      </div>
      <div class="add__save">
        <button class="btn2">Guardar cambios</button>
      </div>
    </form>
  </div>
</section>

<div class="modal__perfil" *ngIf="isModalVisible">
  <article class="art__perfil">
    <h2 class="title__mperfil">
      ¡Optimiza tu CV con la ayuda de los expertos!
    </h2>
    <p class="p__mperfil">
      Tu CV ha sido cargado exitosamente. Ahora, aprovecha nuestro servicio
      exclusivo de evaluación de CV y recibe comentarios valiosos para mejorar
      tus oportunidades laborales.
    </p>
    <div class="items__perfil">
      <div class="item__perfil">
        <div>
          <h3>Evaluación por el Equipo de Trazzing</h3>
          <p>
            Nuestro equipo de expertos en reclutamiento revisará tu CV para
            ofrecerte sugerencias que mejoren la presentación y el contenido,
            destacando tus habilidades y experiencia de manera efectiva.
          </p>
        </div>
        <button class="btn2 btn__mp" (click)="showCard('card1')">Evaluación por Trazzing</button>
      </div>
      <div class="item__perfil">
        <div>
          <h3>Evaluación por un Trazzer Especializado</h3>
          <p>
            Un headhunter independiente de nuestra comunidad, especializado en
            tu sector, revisará tu CV y te proporcionará consejos personalizados
            según las tendencias y demandas específicas de la industria.
          </p>
        </div>
        <button class="btn2 btn__mp" (click)="showCard('card2')">Evaluación por Trazzer</button>
      </div>
    </div>
    <button type="button" class="close__perfil" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
  </article>
</div>

<!-- Tarjetas específicas -->
<div class="modal__ext1 card1__p" *ngIf="activeCard === 'card1'">
  <article class="ext__perfil1">
    <img src="assets/check_exit.png" alt="" />
    <b>¡Tu solicitud de evaluación de CV ha sido recibida!</b>
    <p>
      Nuestro equipo de expertos en reclutamiento revisará tu CV y te enviará
      recomendaciones detalladas a tu correo electrónico en un plazo de 2 días
      hábiles.
    </p>
    <button class="btn2 btn__mp" (click)="closeCard()">Ok</button>
  </article>
</div>
<div class="modal__ext1 card2__p" *ngIf="activeCard === 'card2'">
  <article class="ext__perfil1">
    <img src="assets/check_exit.png" alt="" />
    <b>¡Tu solicitud de evaluación de CV ha sido recibida!</b>
    <p>
      Un headhunter independiente especializado en tu sector revisará tu CV y te proporcionará consejos personalizados. Recibirás los resultados en tu correo electrónico en un plazo de 2 días hábiles.
    </p>
    <button class="btn2 btn__mp" (click)="closeCard()">Ok</button>
  </article>
</div>

<app-footer></app-footer>
