<header>
  <div class="header__jobs">
    <a routerLink="/inicio" class="logo_header">
      <img src="assets/trazzing.png" alt="" />
    </a>
    <div class="search__jobs">
      <div class="input__job">
        <img src="assets/work.png" alt="" />
        <input type="text" placeholder="Puesto / Empresa" class="input" />
      </div>
      <div class="line__vetical"></div>
      <div class="input__job">
        <img src="assets/location_on.png" alt="" />
        <input type="text" placeholder="Lugar" class="input" />
      </div>
      <button class="btn__job">
        <img src="assets/user_job.png" alt="" />
        Buscar
      </button>
    </div>
    <div class="jobs__btns">
      <button class="active_btn">Regístrate gratis</button>
      <button>Inicio sesión</button>
    </div>
  </div>
</header>
