<header>
  <div class="contenedor__header">
    <a routerLink="/inicio" class="logo_header">
      <img src="assets/trazzing.png" alt="" />
    </a>
    <nav>
      <a routerLink="/inicio" routerLinkActive="activelink">Inicio</a>
      <a routerLink="/servicio-para-empresas" routerLinkActive="activelink"
        >Servicio para empresas</a
      >
      <a  routerLink="/portal-de-empleo" routerLinkActive="activelink">Portal de empleo</a>
      <a routerLink="unete-como-headhunter">Únete como Headhunter</a>
    </nav>
    <button class="btn" routerLinkActive="activelink">
      Solicitar una cotización
    </button>
  </div>
</header>
