<app-header-login></app-header-login>
<section class="section__login">
  <div class="contenedor__login">
    <h2>
      <a href="assets/arrow_back_ios.png"></a> Crea tu cuenta y encuentra el
      trabajo de tus sueños
    </h2>
    <div class="form__content">
      <article></article>
      <article>
        <button>
          <img src="assets/linkedin_symbol.png" alt="" />
          Acceder con Linkedin
        </button>
        <button>
            <img src="assets/google_symbol.png" alt="">
            Acceder con Google
        </button>
      </article>
    </div>
  </div>
</section>
