.contenedor__banner {
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/assets/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content__banner {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
.content__banner h3 {
  font-size: 2.2rem;
  color: #fff;
}
.content__banner p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}
.dots__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 1.4rem;
}
.dots__banner span.dot_activo {
  background-color: #ec625f;
}
.dots__banner span {
  background-color: #fdefef;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

/* sección 1 */
.section__empresas {
  width: 100%;
}
.text__empresas {
  width: 60%;
  margin: 5rem auto;
}
.text__empresas h2 {
  color: #2f4b7d;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* sección */
.section__beneficios {
  width: 100%;
  padding: 5rem 1rem;
  background-color: #eaedf2;
}

.contenedor__beneficios {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.art__beneficios {
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.art__beneficios h2 {
  color: #333333;
  font-weight: 600;
  /* width: 24rem; */
  font-size: 1.8rem;
  width: 34%;
  padding-right: 8rem;
}
.art__beneficios h2 span.pink {
  color: #ec625f;
}
.art__beneficios h2 span.blue {
  color: #2f4b7d;
}

.itemt__ben {
  /* width: 20rem; */
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 13rem;
  padding: 1.2rem;
  border: 1px solid #2f4b7d;
  background-color: #f2f2f2;
}

.itemt__ben img {
  width: fit-content;
}
.itemt__ben p {
  color: #333333;
  font-size: 1rem;
}
.itemt__ben b {
  font-weight: 600;
  font-size: 1.1rem;
  color: #2f4b7d;
}

.item__btn {
  /* width: 24rem; */
  width: 34%;
  display: grid;
  place-items: center;
}
.item__btn .btn2 {
  width: 70%;
}

/* sección pasos */
.section__steps {
  width: 100%;
  padding: 5rem 1rem;
  background-color: #fff;
}
.art__steps {
  width: 83%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.art__steps h2 span {
  color: #ec625f;
}
.art__steps h2 {
  width: 35%;
  font-weight: 600;
  font-size: 2rem;
}
.items__steps {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
}
.btn__steps {
  padding: 0 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn__steps button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.step__item {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.step__div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.step__div b {
  font-size: 1rem;
  color: #2f4b7d;
}
.step__div p {
  width: 70%;
  font-size: 0.9rem;
  color: #333333;
}

/* sección */
.form__servicios {
  width: 100%;
  padding: 5rem 1rem;
  /* background-color: #f2f2f2; */
  background-image: linear-gradient(
      to top,
      rgba(242, 242, 242, 0.95) 0%,
      rgba(242, 242, 242, 0.95) 100%
    ),
    url("/assets/banner_users.jpg");
  background-size: cover;
  position: relative;
}
.linea__form2{
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 8.5rem;
  transform: rotateY(180deg); /* Gira la imagen de derecha a izquierda */
}

.lupa_red2{
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  transform: rotate(30deg);
  width: 9rem;
}

.lupa_blue2{
  position: absolute;
  right: 2rem;
  top: 4rem;
  transform: rotate(-20deg);
  width: 4rem;
}

.contenedor__form {
  width: 80%;
}
.contenedor__form b {
  text-align: center;
  display: block;
  margin: auto;
}
.contenedor__form h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.contenedor__form p {
  font-size: 1rem;
  color: #434343;
  width: 40%;
  display: block;
  margin: 1rem auto;
  text-align: center;
}
.form_content {
  width: 85%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.width__form {
  width: 32%;
}
.width__form label {
  font-weight: 600;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.input_content {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px #2f2b431a;
  border-radius: 10px;
  height: 2.8rem;
  overflow: hidden;
}

.input_style::placeholder {
  color: #33333399;
  font-weight: 300;
}
.input_style.p__ex {
  padding-left: 3.4rem;
}
.input_style {
  width: 100%;
  padding-left: 2.5rem;
  height: 100%;
  border: none;
  outline: none;
}
.input_content .icon__phone img {
  margin-left: 0.4rem;
}
.input_content .icon__phone {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  color: #33333399;
  font-size: 0.8rem;
}
.input_content img {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
}

.width__textarea::placeholder {
  color: #33333399;
  font-weight: 300;
}
.width__textarea {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px #2f2b431a;
  border-radius: 10px;
  height: 10rem;
  border: none;
  outline: none;
  padding: 1rem;
  resize: none;
}

.btn__form {
  display: block;
  margin: auto;
  width: 13rem;
}

#unete {
  padding-top: 80px;
  margin-top: -80px;
}

@media (max-width: 768px) {
  .contenedor__banner {
    height: 55vh;
  }
  .content__banner {
    width: 90%;
  }

  
  .art__beneficios {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .art__beneficios {
    width: 100%;
  }
  .art__beneficios h2 {
    width: 100%;
    font-weight: bold;
    padding: 0;
    font-size: 1.8rem;
  }
  .itemt__ben {
    width: 100%;
    height: fit-content;
  }
  .section__beneficios{
    padding: 2.5rem 1.5rem;
  }
  .item__btn {
    width: 100%;
  }
  .item__btn .btn2 {
    width: 100%;
  }
  .text__empresas{
    width: 90%;
    margin: 2rem auto;
  }

 /* formulario */
 .content__overflow{
  width: 90%;
}
.contenedor__form p{
  width: 100%;
}
.contenedor__form{
  width: 100%;
}
.form_content {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.width__form {
  width: 100%;
}
.form__servicios{
  padding: 2rem;
}
}