<app-header></app-header>
<div class="contenedor__banner">
  <div class="content__banner">
    <h3>Únete a nuestra comunidad de Headhunters</h3>
    <p>
      Conéctate con empresas que buscan tu talento para encontrar a los mejores
      profesionales.
    </p>
    <a href="/unete-como-trazzer#unete" class="btn2"> Únete como Trazzer </a>
  </div>
</div>
<section class="section__empresas">
  <div class="text__empresas container_section">
    <h2>
      En Trazzing, reconocemos el valor de los headhunters independientes y su
      papel crucial en la búsqueda de talento excepcional. Nuestra plataforma te
      ofrece una red de empresas que necesitan tus habilidades para encontrar a
      los candidatos ideales.
    </h2>
  </div>
</section>
<section class="section__beneficios">
  <div class="contenedor__beneficios container_section">
    <article class="art__beneficios">
      <h2>
        ¿Por qué unirte como
        <span class="pink">Trazzer?</span>
      </h2>
      <div class="itemt__ben">
        <img src="assets/icon_unete1.png" alt="" />
        <b>Acceso a clientes premium</b>
        <p>
          Conéctate con empresas de diversas industrias que buscan headhunters
          expertos.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_unete2.png" alt="" />
        <b>Herramientas avanzadas</b>
        <p>
          Utiliza nuestras herramientas de gestión de procesos de reclutamiento
          para optimizar tu trabajo.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_unete3.png" alt="" />
        <b>Comunidad y soporte</b>
        <p>
          Forma parte de una comunidad de profesionales del reclutamiento y
          accede a recursos y soporte continuo.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_unete4.png" alt="" />
        <b>Oportunidades de crecimiento</b>
        <p>
          Aumenta tu visibilidad y tus oportunidades de negocio con una
          plataforma que valora tu experiencia.
        </p>
      </div>
      <div class="item__btn">
        <a href="/unete-como-trazzer#unete" class="btn2">
          Únete como Trazzer
        </a>
      </div>
    </article>
  </div>
</section>
<section class="section__steps">
  <div class="contenedor__steps container_section">
    <article class="art__steps">
      <h2><span>¿</span>Cómo unirte a nuestra comunidad<span>?</span></h2>
      <div class="items__steps">
        <div class="btn__steps">
          <button>
            <img src="assets/icon_step1.png" alt="" />
            Paso 1
          </button>
          <button>
            <img src="assets/icon_step2.png" alt="" />
            Paso 2
          </button>
          <button>
            <img src="assets/icon_step3.png" alt="" />
            Paso 3
          </button>
        </div>
        <img src="assets/line_steps.png" alt="" />
        <div class="step__item">
          <div class="step__div">
            <b>Regístrate</b>
            <p>
              Completa nuestro formulario de inscripción y proporciona
              información sobre tu experiencia y especialidades.
            </p>
          </div>
          <div class="step__div">
            <b> Perfil Profesional</b>
            <p>
              Crea un perfil profesional detallado para mostrar tus habilidades
              y experiencia.
            </p>
            <p></p>
          </div>

          <div class="step__div">
            <b> Conéctate con Empresas</b>
            <p>
              Accede a nuestra red de empresas y comienza a trabajar en
              proyectos de reclutamiento de inmediato.
            </p>
            <p></p>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<div id="unete">
  <section class="form__servicios">
    <div class="contenedor__form container_section">
      <h2>¡Únete hoy mismo!</h2>
      <p>
        No pierdas la oportunidad de formar parte de una red exclusiva de
        headhunters y maximizar tu potencial de negocio.
      </p>
      <b>
        ¡Regístrate ahora y comienza a conectar con empresas que valoran tu
        experiencia!</b
      >
      <form class="form_content" action="">
        <div class="width__form">
          <label for="">Nombre de contacto</label>
          <div class="input_content">
            <img src="assets/user_input.png" alt="" />
            <input
              type="text"
              class="input_style"
              placeholder="Nombre y Apellido"
            />
          </div>
        </div>
        <div class="width__form">
          <label for="">Correo electrónico</label>
          <div class="input_content">
            <img src="assets/email_input.png" alt="" />
            <input
              type="text"
              class="input_style"
              placeholder="empresa@email.com"
            />
          </div>
        </div>
        <div class="width__form">
          <label for="">Teléfono de contacto</label>
          <div class="input_content">
            <span class="icon__phone">
              +51
              <img src="assets/bottom_input.png" alt="" />
            </span>
            <input
              type="text"
              class="input_style p__ex"
              placeholder="Número de teléfono"
            />
          </div>
        </div>
        <div class="width__form">
          <label for="">Experiencia (años)</label>
          <div class="input_content">
            <img src="assets/years_input.png" alt="" />
            <input type="text" class="input_style" />
          </div>
        </div>
        <div class="width__form">
          <label for="">Especialidad (industrias, roles, etc.)</label>
          <div class="input_content">
            <img src="assets/rol_input.png" alt="" />
            <input
              type="text"
              class="input_style"
              placeholder="ej: IT, Programadores"
            />
          </div>
        </div>
      </form>
      <button class="btn2 btn__form">Enviar</button>
    </div>
  </section>
</div>
<app-footer></app-footer>
