<header>
  <div class="contenedor__header">
    <a routerLink="/inicio" class="logo_header">
      <img src="assets/trazzing.png" alt="" />
    </a>
    <nav [ngClass]="{ active: isMenuOpen && !isClosing, inactive: isClosing }">
      <a routerLink="/inicio" routerLinkActive="activelink">Inicio</a>
      <a routerLink="/servicio-para-empresas" routerLinkActive="activelink"
        >Servicio para empresas
        <img src="assets/open_in_new.png" alt="" />
      </a>
      <a routerLink="/portal-de-empleo" routerLinkActive="activelink"
        >Portal de empleo
        <img src="assets/open_in_new.png" alt="" />
      </a>
      <a routerLink="/unete-como-trazzer" routerLinkActive="activelink"
        >Únete como Trazzer
        <img src="assets/open_in_new.png" alt="" />
      </a>
      <div class="jobs__btns btn__hidden__nav">
        <button onclick="location.href='/registrate'" class="active_btn">
          Regístrate gratis
        </button>
        <button onclick="location.href='/iniciar-sesion'">Inicio sesión</button>
      </div>
      <button class="close__nav" (click)="closeMenu()">
        <i class="bx bx-x"></i>
      </button>
    </nav>
    <div class="jobs__btns btn__hidden">
      <button onclick="location.href='/registrate'" class="active_btn">
        Regístrate gratis
      </button>
      <button onclick="location.href='/iniciar-sesion'">Inicio sesión</button>
    </div>
    <button class="menu__open" (click)="toggleMenu()">
      <i class="bx bx-menu"></i>
    </button>
  </div>
  <div class="overlay" [class.active]="isMenuOpen" (click)="closeMenu()"></div>
</header>

<!-- <div class="modal__pay2" *ngIf="isModalOpen">
  <div class="content__overflow">
    <form class="form_content modal__content2" action="">
      <h2 class="title__modal2">
        ¿Listo para optimizar tu proceso de reclutamiento?
      </h2>
      <div class="p__modal2">
        <p>
          Contáctanos hoy y descubre cómo Trazzing puede transformar la manera
          en que adquieres talento.
        </p>
      </div>
      <div class="width__form">
        <label for="">Nombre de contacto</label>
        <div class="input_content">
          <img src="assets/user_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Correo electrónico</label>
        <div class="input_content">
          <img src="assets/email_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="empresa@email.com"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Teléfono de contacto</label>
        <div class="input_content">
          <span class="icon__phone">
            +51
            <img src="assets/bottom_input.png" alt="" />
          </span>
          <input
            type="text"
            class="input_style p__ex"
            placeholder="Número de teléfono"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Nombre de la compañia</label>
        <div class="input_content">
          <img src="assets/bussiness_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Industria</label>
        <div class="input_content">
          <img src="assets/industria_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Minería</option>
            <option value="">Agroindustria</option>
            <option value="">Pesca</option>
            <option value="">Banca</option>
            <option value="">Construcción</option>
            <option value="">Energía</option>
            <option value="">Manufactura</option>
            <option value="">Retail</option>
            <option value="">Turismo</option>
            <option value="">Tecnología</option>
            <option value="">Transporte y Logística</option>
            <option value="">Educación</option>
            <option value="">Salud y Farmacéutica</option>
            <option value="">Textiles y Confecciones</option>
            <option value="">Gastronomía y Alimentos</option>
          </select>
        </div>
      </div>
      <div class="width__form">
        <label for="">Número de colaboradores</label>
        <div class="input_content">
          <img src="assets/team_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Ej: 10 colaboradores</option>
            <option value="<100">&lt; 100</option>
            <option value="100-300">100 a 300</option>
            <option value="300-500">300 a 500</option>
            <option value="500-1000">500 a 1000</option>
            <option value=">1000">1000 &gt;</option>
          </select>
        </div>
      </div>
      <textarea
        name=""
        class="width__textarea"
        id=""
        placeholder="¿Cómo puede ayudar Trazzing a tu empresa? Cuéntanos tus necesidades."
      ></textarea>
      <button class="btn2 btn__modal2">Enviar</button>
    </form>
    <button class="close__modal" (click)="hideModal()">
      <i class="bx bx-x"></i>
    </button>
    <img src="assets/lupa_red.png" class="lupa_red" alt="" />
    <img src="assets/lupa_blue.png" class="lupa_blue" alt="" />
    <img src="assets/linea__form.png" class="linea__form" alt="" />
  </div>
</div> -->
