<app-header-job></app-header-job>
<section class="detalle__banner">
  <div class="content__bd container_section">
    <h2>Asistente de marketing digital</h2>
    <b>B. A. Consulting</b>
    <p>Surco, Lima</p>
    <button class="btn2" (click)="showModal()">Postular</button>
  </div>
</section>
<section class="detalle__trabajo">
  <div class="content__td container_section">
    <article class="description__detalle">
      <p>
        Requisitos:
        <br />
        <br />
        Bachiller en Administración, Marketing, Comunicaciones.
        <br />

        Especialización o Diplomado en Marketing Digital.
        <br />

        Indispensable experiencia en Influencer Marketing Digital.
        <br />

        Indispensable manejo de Redes Sociales (Tik – Tok, Instagram, Facebook,
        Youtube, etc).
        <br />

        Indispensable manejo de KPI´S de efectividad de campañas digitales.
        <br />

        Indispensable Microsoft Office Intermedio.
        <br />

        Indispensable Manejo de Reportes a Gerencia.
        <br />

        2 años de experiencia como Asistente de Operaciones, Analista de
        Marketing Digital,
        <br />

        Asistente de Marketing Digital en empresas de Investigación de Mercado,
        Publicidad,
        <br />

        Agencia de “Influencer”.
        <br />

        Disponibilidad para laborar de lunes a Viernes de 9 am a 6 pm / Surco
        Referencia: Espalda de la universidad de Lima). Trabajo 1 0 0%
        Presencial.
        <br />

        Competencias:
        <br />
        <br />

        Proactividad
        <br />

        Escucha activa
        <br />

        Puntualidad
        <br />

        Funciones Principales:
        <br />
        <br />

        Responsable de la ejecución, gestión y seguimiento de campañas
        digitales.
        <br />

        Manejo de cuentas claves de la empresa Liderar reuniones de brifeo con
        creadores de contenido y marcas.
        <br />

        Revisar el contenido producido y asegurar que los entregables sigan las
        pautas y lineamientos de marca.
        <br />

        Trabajar en estrecha colaboración con los distintos equipos involucrados
        en la implementación de una campaña: Marcas, Agencias de Medios,
        Agencias de Representación, PR, Productoras, Legal.
        <br />

        Negociación de acuerdos y presupuestos con creadores de contenido de
        distinta escala: celebridades, macro y microinfluencers.
        <br />

        Responsable de la identificación (longlist) de perfiles (influencers,
        artistas y/o creadores de contenidos) en el proceso de selección. Manejo
        y optimización de presupuestos.
        <br />

        Dar seguimiento al cumplimiento de los objetivos de cada campaña.
      </p>
      <button class="btn2" (click)="showModal()">Postular</button>
    </article>
  </div>
</section>
<section class="empleos__destacados">
  <div class="contenedor__destacados container_section">
    <h2>Oferta de trabajos similares</h2>

    <article class="art__job">
      <div class="item__job">
        <div class="left__job">
          <img src="assets/job_img.jpg" alt="" />
          <div class="text__job">
            <b>Titulo del puesto</b>
            <p>Empresa | Publicado hace x días</p>
          </div>
        </div>
        <div class="right__job">
          <div class="icon__job">
            <p>
              <img src="assets/location_on.png" alt="" />
              Ubicación
            </p>
            <p>
              <img src="assets/domain.png" alt="" />
              Presencial/Remoto
            </p>
          </div>
          <i class="bx bx-chevron-right"></i>
        </div>
      </div>
      <div class="item__job">
        <div class="left__job">
          <img src="assets/job_img.jpg" alt="" />
          <div class="text__job">
            <b>Titulo del puesto</b>
            <p>Empresa | Publicado hace x días</p>
          </div>
        </div>
        <div class="right__job">
          <div class="icon__job">
            <p>
              <img src="assets/location_on.png" alt="" />
              Ubicación
            </p>
            <p>
              <img src="assets/domain.png" alt="" />
              Presencial/Remoto
            </p>
          </div>
          <i class="bx bx-chevron-right"></i>
        </div>
      </div>
      <div class="item__job">
        <div class="left__job">
          <img src="assets/job_img.jpg" alt="" />
          <div class="text__job">
            <b>Titulo del puesto</b>
            <p>Empresa | Publicado hace x días</p>
          </div>
        </div>
        <div class="right__job">
          <div class="icon__job">
            <p>
              <img src="assets/location_on.png" alt="" />
              Ubicación
            </p>
            <p>
              <img src="assets/domain.png" alt="" />
              Presencial/Remoto
            </p>
          </div>
          <i class="bx bx-chevron-right"></i>
        </div>
      </div>
      <button class="btn2">Ver Todos los Empleos</button>
    </article>
  </div>
  <img src="assets/lupa_red.png" class="lupa_blue" alt="" />
  <img src="assets/lupa_blue.png" class="lupa_red" alt="" />
  <img src="assets/linea__form.png" class="linea_red" alt="" />
</section>

<div class="modal__pay2" *ngIf="isModalVisible">
  <form class="form_content modal__content2" action="">
    <h2 class="title__modal">
      Completa las siguientes preguntas para terminar tu postulación
    </h2>
    <div class="width__form full__input">
      <label for="cardholder-name"
        >Cuanto tiempo de experiencia tiene en el marketing digital</label
      >
      <div class="input_content">
        <textarea
          name=""
          class="width__textarea"
          placeholder="Ingresa tu respuesta"
          id=""
        ></textarea>
      </div>
    </div>
    <div class="width__form full__input">
      <label for="cardholder-name"
        >Indicar su carrera y grado de instrucción (indicar año de título o
        bachiller)</label
      >
      <div class="input_content">
        <textarea
          name=""
          class="width__textarea"
          placeholder="Ingresa tu respuesta"
          id=""
        ></textarea>
      </div>
    </div>
    <div class="width__form full__input">
      <label for="cardholder-name">¿Cuál es su expectativa salarial?</label>
      <div class="input_content">
        <textarea
          name=""
          class="width__textarea"
          placeholder="Ingresa tu respuesta"
          id=""
        ></textarea>
      </div>
    </div>
    <button type="submit" class="btn2 btn__modal">Responder</button>
    <button type="button" class="close__modal" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
  </form>
</div>

<app-footer></app-footer>
