<app-header2></app-header2>
<div class="contenedor__banner">
  <div class="content__banner">
    <h3>Encuentra el trabajo de tus sueños</h3>
    <p>
      Conéctate con las mejores oportunidades laborales adaptadas a tu perfil
      profesional.
    </p>
    <div class="search__jobs">
      <div class="input__job">
        <img src="assets/work.png" alt="" />
        <input type="text" placeholder="Puesto / Empresa" class="input" />
      </div>
      <div class="line__vetical"></div>
      <div class="input__job inpt__ext">
        <img src="assets/location_on.png" alt="" />
        <input type="text" placeholder="Lugar" class="input" />
      </div>
      <button class="btn__job ">
        <img src="assets/user_job.png" alt="" />
        Buscar
      </button>
    </div>
  </div>
</div>
<section class="empleos__destacados">
  <div class="contenedor__destacados container_section">
    <h2>Empleos destacados</h2>
    <p class="p__job">
      Aquí te presentamos algunas de las mejores oportunidades actualmente
      disponibles en nuestro portal.
    </p>
    <article class="art__job">
      <div class="item__job">
        <div class="left__job">
          <img src="assets/job_img.jpg" alt="" />
          <div class="text__job">
            <b>Titulo del puesto</b>
            <p>Empresa | Publicado hace x días</p>
          </div>
        </div>
        <div class="right__job">
          <div class="icon__job">
            <p>
              <img src="assets/location_on.png" alt="" />
              Ubicación
            </p>
            <p>
              <img src="assets/domain.png" alt="" />
              Presencial/Remoto
            </p>
          </div>
          <i class="bx bx-chevron-right"></i>
        </div>
      </div>
      <div class="item__job">
        <div class="left__job">
          <img src="assets/job_img.jpg" alt="" />
          <div class="text__job">
            <b>Titulo del puesto</b>
            <p>Empresa | Publicado hace x días</p>
          </div>
        </div>
        <div class="right__job">
          <div class="icon__job">
            <p>
              <img src="assets/location_on.png" alt="" />
              Ubicación
            </p>
            <p>
              <img src="assets/domain.png" alt="" />
              Presencial/Remoto
            </p>
          </div>
          <i class="bx bx-chevron-right"></i>
        </div>
      </div>
      <div class="item__job">
        <div class="left__job">
          <img src="assets/job_img.jpg" alt="" />
          <div class="text__job">
            <b>Titulo del puesto</b>
            <p>Empresa | Publicado hace x días</p>
          </div>
        </div>
        <div class="right__job">
          <div class="icon__job">
            <p>
              <img src="assets/location_on.png" alt="" />
              Ubicación
            </p>
            <p>
              <img src="assets/domain.png" alt="" />
              Presencial/Remoto
            </p>
          </div>
          <i class="bx bx-chevron-right"></i>
        </div>
      </div>
      <a href="/trabajos" class="btn2 mt__2"> Ver Todos los Empleos </a>
    </article>
  </div>
</section>
<section class="empleos__crea">
  <div class="contenedor__crear container_section">
    <h2>Crea tu Perfil Profesional</h2>
    <p class="p__crear">
      Regístrate en Trazzing y crea un perfil profesional para que las empresas
      te encuentren más fácilmente.
    </p>
    <article class="items__add">
      <div class="item__add">
        <span>1</span>
        <b>Completa tu información</b>
        <p>Nombre, correo electrónico, contraseña.</p>
      </div>
      <div class="item__add">
        <span>2</span>
        <b>Sube tu CV</b>
        <p>
          Información personal, experiencia laboral, educación, habilidades.
        </p>
      </div>
      <div class="item__add">
        <span>3</span>
        <b>Recibe recomendaciones de empleo personalizadas.</b>
      </div>
    </article>
    <button class="btn2" onclick="location.href='/registrate'">
      Regístrate gratis
    </button>
  </div>
</section>
<app-footer></app-footer>
