<app-header-job></app-header-job>
<section class="section__jobs">
  <div class="contenedor__trabajos container_section">
    <h2>Trabajos en marketing</h2>
    <div class="arts__jobs">
      <article class="options__job">
        <span>Filtros</span>
        <ul class="list__options">
          <li>
            <img src="assets/calendar_today.png" alt="" />
            Fecha de publicación
          </li>
          <li>
            <img src="assets/work.png" alt="" />
            Área
          </li>
          <li>
            <img src="assets/location_on.png" alt="" />
            Departamento
          </li>
          <li>
            <img src="assets/source_environment.png" alt="" />
            Modalidad de trabajo
          </li>
          <li>
            <img src="assets/accessible.png" alt="" />
            Portulantes con discapacidad
          </li>
        </ul>
      </article>
      <article class="item__trabajo">
        <div class="text__space">
          <span>53 Empleos encontrados</span>
          <div class="space__btns">
            <p>Ordenar por:</p>
            <div>
              <button class="active">Relevantes</button>
              <button>Recientes</button>
            </div>
          </div>
        </div>
        <div class="item__job" onclick="location.href='/detalle-del-trabajo'">
          <div class="left__job">
            <img src="assets/job_img.jpg" alt="" />
            <div class="text__job">
              <span>Empleo destacado</span>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting | Publicado hace 3 días</p>
            </div>
          </div>
          <div class="right__job">
            <div class="icon__job">
              <p>
                <img src="assets/location_on.png" alt="" />
                Surco, Lima
              </p>
              <p>
                <img src="assets/domain.png" alt="" />
                Presencial
              </p>
            </div>
            <i class="bx bx-chevron-right"></i>
          </div>
        </div>
        <div class="item__job" onclick="location.href='/detalle-del-trabajo'">
          <div class="left__job">
            <img src="assets/job_img.jpg" alt="" />
            <div class="text__job">
              <b>Jefe de marketing</b>
              <p>Grupo Entheos | Publicado hace 2 días</p>
            </div>
          </div>
          <div class="right__job">
            <div class="icon__job">
              <p>
                <img src="assets/location_on.png" alt="" />
                Miraflores, Lima
              </p>
              <p>
                <img src="assets/domain.png" alt="" />
                Presencial
              </p>
            </div>
            <i class="bx bx-chevron-right"></i>
          </div>
        </div>
        <div class="item__job" onclick="location.href='/detalle-del-trabajo'">
          <div class="left__job">
            <img src="assets/job_img.jpg" alt="" />
            <div class="text__job">
              <span>Empleo destacado</span>
              <b>Analista de marketing</b>
              <p>Grupo Tawa | Publicado hace 2 días</p>
            </div>
          </div>
          <div class="right__job">
            <div class="icon__job">
              <p>
                <img src="assets/location_on.png" alt="" />
                Miraflores, Lima
              </p>
              <p>
                <img src="assets/domain.png" alt="" />
                Presencial
              </p>
            </div>
            <i class="bx bx-chevron-right"></i>
          </div>
        </div>
        <div class="item__job" onclick="location.href='/detalle-del-trabajo'">
          <div class="left__job">
            <img src="assets/job_img.jpg" alt="" />
            <div class="text__job">
              <span>Se precisa urgente</span>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting | Publicado hace 3 días</p>
            </div>
          </div>
          <div class="right__job">
            <div class="icon__job">
              <p>
                <img src="assets/location_on.png" alt="" />
                Surco, Lima
              </p>
              <p>
                <img src="assets/domain.png" alt="" />
                Presencial
              </p>
            </div>
            <i class="bx bx-chevron-right"></i>
          </div>
        </div>
        <div class="item__job" onclick="location.href='/detalle-del-trabajo'">
          <div class="left__job">
            <img src="assets/job_img.jpg" alt="" />
            <div class="text__job">
              <b>Jefe de marketing</b>
              <p>Grupo Entheos | Publicado hace 2 días</p>
            </div>
          </div>
          <div class="right__job">
            <div class="icon__job">
              <p>
                <img src="assets/location_on.png" alt="" />
                Miraflores, Lima
              </p>
              <p>
                <img src="assets/domain.png" alt="" />
                Presencial
              </p>
            </div>
            <i class="bx bx-chevron-right"></i>
          </div>
        </div>
        <div class="item__job" onclick="location.href='/detalle-del-trabajo'">
          <div class="left__job">
            <img src="assets/job_img.jpg" alt="" />
            <div class="text__job">
              <span>Empleo destacado</span>
              <b>Analista de marketing</b>
              <p>Grupo Tawa | Publicado hace 2 días</p>
            </div>
          </div>
          <div class="right__job">
            <div class="icon__job">
              <p>
                <img src="assets/location_on.png" alt="" />
                Miraflores, Lima
              </p>
              <p>
                <img src="assets/domain.png" alt="" />
                Presencial
              </p>
            </div>
            <i class="bx bx-chevron-right"></i>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<app-footer></app-footer>
