*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.btn2 {
  border: none;
  outline: none;
  background-color: #ec625f;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  text-align: center;
  width: fit-content;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.btn2:hover {
  background-color: rgb(255, 132, 130);
}
.btn:hover {
  background-color: rgb(255, 132, 130);
}
.btn {
  transition: 0.3s ease all;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #ec625f;
  border-radius: 10px;
  padding: 0.6rem 1.5rem;
  text-align: center;
  width: fit-content;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.container_section {
  max-width: 1300px;
  margin: auto;
}

/* botón para volver arriba */
.btn__up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #ec625f;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn__up i {
  font-size: 2.5rem;
  color: #fff;
}


@media (min-width: 800px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1500px) {
  .container_section {
    max-width: 1500px;
    margin: auto;
  }
  html {
    font-size: 17px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 410px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 13px;
  }
}
