<app-header-user></app-header-user>
<section class="section__postulaciones">
  <div class="contenedor__postulaciones container_section">
    <div class="title__st">
      <h2>Mis postulaciones</h2>
      <div class="btn__st">
        <button class="btn2">Finalizar todas las postulaciones</button>
        <img src="assets/arrow_question.png" alt="" />
      </div>
    </div>
    <div class="items__postulaciones">
      <article class="item__postulacion">
        <h3>CV enviado</h3>
        <div class="content__itemp">
          <div class="item_p">
            <img src="assets/job_img.jpg" alt="" />
            <div>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting <span>|</span>Mayo 3</p>
            </div>
          </div>
          <div class="item_p">
            <img src="assets/job_img.jpg" alt="" />
            <div>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting <span>|</span>Mayo 3</p>
            </div>
          </div>
          <div class="item_p">
            <img src="assets/job_img.jpg" alt="" />
            <div>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting <span>|</span>Mayo 3</p>
            </div>
          </div>
        </div>
      </article>
      <article class="item__postulacion">
        <h3>CV leído</h3>
        <div class="content__itemp">
          <div class="item_p">
            <img src="assets/job_img.jpg" alt="" />
            <div>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting <span>|</span>Mayo 3</p>
            </div>
          </div>
          <div class="item_p">
            <img src="assets/job_img.jpg" alt="" />
            <div>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting <span>|</span>Mayo 3</p>
            </div>
          </div>
        </div>
      </article>
      <article class="item__postulacion">
        <h3>Proceso finalizado</h3>
        <div class="content__itemp">
          <div class="item_p">
            <img src="assets/job_img.jpg" alt="" />
            <div>
              <b>Asistente marketing digital</b>
              <p>B. A. Consulting <span>|</span>Mayo 3</p>
            </div>
          </div>
        </div>
      </article>
      <article class="item__postulacion">
        <h3>Contratado</h3>
        <div class="content__itemp"></div>
      </article>
    </div>
  </div>
</section>
<app-footer></app-footer>
