<app-header></app-header>
<div class="contenedor__banner">
  <div class="content__banner">
    <h3>Optimiza tu proceso de reclutamiento</h3>
    <p>
      Descubre cómo Trazzing puede ayudarte a encontrar el mejor talento de
      manera eficiente y efectiva.
    </p>
    <button class="btn2" (click)="openModal2()">Solicitar una demo</button>
  </div>
</div>
<section class="section__empresas">
  <div class="text__empresas container_section">
    <h2>
      Nuestro servicio de gestión de procesos de reclutamiento y red de
      headhunters independientes está diseñado para adaptarse a las
      características de tu organización, sin importar su tamaño.
    </h2>
    <article>
      <h3>Nuestros Servicios</h3>
      <p>
        Ofrecemos dos servicios principales para ayudarte a optimizar tu proceso
        de reclutamiento y encontrar al mejor talento para tu empresa.
      </p>
    </article>
  </div>
</section>
<div class="section__contrata">
  <div class="conatiner__contrata container_section">
    <article class="art__contrata">
      <h2>
        Contrata con la herramienta
        <span class="blue">Trazzing </span>
      </h2>
      <p>
        Facilitamos la adquisición de talento ofreciendo un servicio integral de
        gestión de procesos de reclutamiento. Desde la publicación de vacantes
        hasta la selección del candidato ideal, utilizamos herramientas
        avanzadas y un enfoque personalizado para asegurarnos de que encuentres
        al mejor talento para tu empresa.
      </p>
    </article>
    <article class="contrata__planes">
      <h2>Planes de servicio adaptados a tu empresa</h2>
      <p>
        Elige el plan que mejor se adapte al tamaño y necesidades de tu empresa.
        Nuestros planes están diseñados para ofrecerte la flexibilidad y soporte
        que necesitas para optimizar tu proceso de adquisición de talento.
      </p>
    </article>
    <article class="contrata__cards">
      <div *ngFor="let card of cards" class="item__card">
        <h3 class="title__mem">{{ card.title }}</h3>
        <p class="desc__item">{{ card.description }}</p>
        <div class="price__card">
          <p>$ {{ card.monthlyPrice }} <span>Plan mensual</span></p>
          <p>
            $ {{ card.annualPrice }}
            <span>Plan anual <br />(por mes)</span>
          </p>
        </div>
        <ul>
          <li *ngFor="let feature of card.features">
            <img src="assets/check.png" alt="" /> {{ feature }}
          </li>
        </ul>
        <button class="btn2 btn__item" (click)="openModal(card.title)">
          Elige {{ card.title }}
        </button>
      </div>
    </article>
  </div>
</div>

<section class="section__beneficios">
  <div class="contenedor__beneficios container_section">
    <article class="art__contrata">
      <h2>
        Contratación de
        <span class="pink">Trazzer </span>
      </h2>
      <p>
        Conéctate con nuestra comunidad de headhunters independientes, conocidos
        como Trazzers, especializados por tipo de perfil y sector. Ellos te
        ayudarán a encontrar candidatos altamente calificados y ajustados a tus
        necesidades específicas.
      </p>
    </article>
    <article class="art__beneficios">
      <h2>
        <span class="pink">Beneficios</span>
        de contratar a un
        <span class="blue">Trazzer</span>
      </h2>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios1.png" alt="" />
        <b>Especialización</b>
        <p>
          Trazers con experiencia en diferentes sectores y perfiles, asegurando
          un conocimiento profundo del mercado.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios2.png" alt="" />
        <b>Flexibilidad</b>
        <p>
          Contrata un Trazzer según tus necesidades y duración del proyecto.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios3.png" alt="" />
        <b>Resultados rápidos</b>
        <p>
          Accede a una red de profesionales listos para ayudarte a encontrar el
          mejor talento en menos tiempo.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios4.png" alt="" />
        <b>Reducción de costos</b>
        <p>
          Ahorra en costos de reclutamiento internos y externos al contratar un
          Trazzer que se encargará de todo el proceso.
        </p>
      </div>
      <div class="item__btn">
        <button class="btn2" (click)="openModal2()">Contrata un Trazzer</button>
      </div>
    </article>
  </div>
</section>
<section class="form__servicios">
  <div class="contenedor__form container_section">
    <h2>¿Listo para optimizar tu proceso de reclutamiento?</h2>
    <p>
      Contáctanos hoy y descubre cómo Trazzing puede transformar la manera en
      que adquieres talento.
    </p>
    <form class="form_content" action="">
      <div class="width__form">
        <label for="">Nombre de contacto</label>
        <div class="input_content">
          <img src="assets/user_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Correo electrónico</label>
        <div class="input_content">
          <img src="assets/email_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="empresa@email.com"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Teléfono de contacto</label>
        <div class="input_content">
          <span class="icon__phone">
            +51
            <img src="assets/bottom_input.png" alt="" />
          </span>
          <input
            type="text"
            class="input_style p__ex"
            placeholder="Número de teléfono"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Nombre de la compañia</label>
        <div class="input_content">
          <img src="assets/bussiness_input.png" alt="" />
          <input type="text" class="input_style" placeholder="Compañía" />
        </div>
      </div>
      <div class="width__form">
        <label for="">Industria</label>
        <div class="input_content">
          <img src="assets/industria_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Minería</option>
            <option value="">Agroindustria</option>
            <option value="">Pesca</option>
            <option value="">Banca</option>
            <option value="">Construcción</option>
            <option value="">Energía</option>
            <option value="">Manufactura</option>
            <option value="">Retail</option>
            <option value="">Turismo</option>
            <option value="">Tecnología</option>
            <option value="">Transporte y Logística</option>
            <option value="">Educación</option>
            <option value="">Salud y Farmacéutica</option>
            <option value="">Textiles y Confecciones</option>
            <option value="">Gastronomía y Alimentos</option>
          </select>
        </div>
      </div>
      <div class="width__form">
        <label for="">Número de colaboradores</label>
        <div class="input_content">
          <img src="assets/team_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Ej: 10 colaboradores</option>
            <option value="<100">&lt; 100</option>
            <option value="100-300">100 a 300</option>
            <option value="300-500">300 a 500</option>
            <option value="500-1000">500 a 1000</option>
            <option value=">1000">1000 &gt;</option>
          </select>
        </div>
      </div>
      <textarea
        name=""
        class="width__textarea"
        id=""
        placeholder="¿Cómo puede ayudar Trazzing a tu empresa? Cuéntanos tus necesidades."
      ></textarea>
    </form>
    <button class="btn2 btn__form">Enviar</button>
  </div>
  <img src="assets/lupa_red.png" class="lupa_red2" alt="" />
    <img src="assets/lupa_blue.png" class="lupa_blue2" alt="" />
    <img src="assets/linea__form.png" class="linea__form2" alt="" />
</section>

<div *ngIf="isModalOpen" class="modal__pay">
  <form class="form_content modal__content" action="">
    <h2 class="title__modal">
      Has seleccionado el plan
      <span class="plan__title">{{ selectedPlan }}</span>
    </h2>
    <b class="title__plan">Elegir plan</b>
    <div class="plans__content">
      <article
        class="item_plan"
        [ngClass]="{ item_active: activePlanIndex === 0 }"
        (click)="setActivePlan(0)"
      >
        <h3>$ {{ selectedPlanPriceMonthly }}</h3>
        <p>Plan mensual</p>
      </article>
      <article
        class="item_plan"
        [ngClass]="{ item_active: activePlanIndex === 1 }"
        (click)="setActivePlan(1)"
      >
        <h3>$ {{ selectedPlanPriceAnnual }}</h3>
        <p>
          Plan anual <br />
          (por mes)
        </p>
      </article>
    </div>

    <div class="width__form">
      <label for="">Nombre del contacto</label>
      <div class="input_content">
        <img src="assets/user_input.png" alt="" />
        <input type="text" class="input_style" placeholder="Nombre" />
      </div>
    </div>
    <div class="width__form">
      <label for="">Apellido del contacto</label>
      <div class="input_content">
        <img src="assets/user_input.png" alt="" />
        <input type="text" class="input_style" placeholder="Apellido" />
      </div>
    </div>
    <div class="width__form">
      <label for="">Teléfono de contacto</label>
      <div class="input_content">
        <span class="icon__phone">
          +51
          <img src="assets/bottom_input.png" alt="" />
        </span>
        <input
          type="text"
          class="input_style p__ex"
          placeholder="Número de teléfono"
        />
      </div>
    </div>
    <div class="width__form">
      <label for="">Nombre de la empresa</label>
      <div class="input_content">
        <img src="assets/bussiness_input.png" alt="" />
        <input type="text" class="input_style" />
      </div>
    </div>
    <div class="width__form">
      <label for="">Sitio web de la empresa</label>
      <div class="input_content">
        <input
          type="url"
          class="input_style num__padd"
          placeholder="www.empresa.com"
        />
      </div>
    </div>
    <button
      type="button"
      class="btn2 btn__modal"
      [disabled]="activePlanIndex === null"
      (click)="showPay2Modal()"
    >
      Continuar
    </button>

    <button type="button" class="close__modal" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
    <img src="assets/lupa_red.png" class="lupa_red" alt="" />
    <img src="assets/lupa_blue.png" class="lupa_blue" alt="" />
    <img src="assets/linea__form.png" class="linea__form" alt="" />
  </form>
</div>
<div *ngIf="isPay2ModalOpen" class="modal__pay2">
  <div class="content__overflow">
    <form class="form_content modal__content2" action="">
      <h2 class="title__modal mb_2">Configuración de <span>Pago</span></h2>
      <div class="width__form full__input">
        <label for="cardholder-name">Nombre del titular</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="cardholder-name"
            class="input_style num__padd"
            required
          />
        </div>
      </div>
      <div class="width__form full__input">
        <div class="label__space">
          <label for="card-number">Número de tarjeta</label>
          <img src="assets/tarjetas-aceptadas.png" alt="" />
        </div>
        <div class="input_content h__m">
          <input
            type="text"
            id="card-number"
            class="input_style num__padd"
            pattern="\d{16}"
            maxlength="16"
            required
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="expiry-date">Fecha de vencimiento</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="expiry-date"
            class="input_style num__padd"
            placeholder="MM/AA"
            pattern="\d{2}/\d{2}"
            required
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="cvv">CVC</label>
        <div class="input_content h__m">
          <input
            type="password"
            id="cvv"
            class="input_style num__padd"
            placeholder="XXX"
            pattern="\d{3}"
            maxlength="3"
            required
          />
        </div>
      </div>
      <div class="width__form full__input">
        <label for="email">Dirección de facturación</label>
        <div class="input_content h__m">
          <input
            type="email"
            id="email"
            class="input_style num__padd"
            required
          />
        </div>
      </div>
      <div class="width__form full__input">
        <label for="email">Correo electrónico</label>
        <div class="input_content h__m">
          <input
            type="email"
            id="email"
            class="input_style num__padd"
            required
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="expiry-date">País</label>
        <div class="input_content h__m">
          <input type="text" class="input_style num__padd" required />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="cvv">Código postal</label>
        <div class="input_content h__m">
          <input type="text" class="input_style num__padd" required />
        </div>
      </div>
      <div class="width__form full__input3">
        <input type="checkbox" />
        <label for=""
          >He leído y acepto los Términos y Condiciones de Trazzing</label
        >
      </div>
      <button type="submit" class="btn2 btn__modal2">
        Pagar ${{ selectedPlanPriceTotal }}
      </button>
    </form>
    <button type="button" class="close__modal" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
    <button class="close__back" (click)="goBackToModalPay()">
      <i class="bx bx-chevron-left"></i>
    </button>
  </div>
</div>

<div class="modal__pay2" *ngIf="isPay3ModalOpen">
  <div class="content__overflow2">
    <form class="form_content modal__content3" action="">
      <h2 class="title__modal2">
        ¿Listo para optimizar tu proceso de reclutamiento?
      </h2>
      <div class="p__modal2">
        <p>
          Contáctanos hoy y descubre cómo Trazzing puede transformar la manera
          en que adquieres talento.
        </p>
      </div>
      <div class="width__form full__input2">
        <label for="">Nombre de contacto</label>
        <div class="input_content">
          <img src="assets/user_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="">Correo electrónico</label>
        <div class="input_content">
          <img src="assets/email_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="empresa@email.com"
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="">Teléfono de contacto</label>
        <div class="input_content">
          <span class="icon__phone">
            +51
            <img src="assets/bottom_input.png" alt="" />
          </span>
          <input
            type="text"
            class="input_style p__ex"
            placeholder="Número de teléfono"
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="">Nombre de la compañia</label>
        <div class="input_content">
          <img src="assets/bussiness_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="">Industria</label>
        <div class="input_content">
          <img src="assets/industria_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Minería</option>
            <option value="">Agroindustria</option>
            <option value="">Pesca</option>
            <option value="">Banca</option>
            <option value="">Construcción</option>
            <option value="">Energía</option>
            <option value="">Manufactura</option>
            <option value="">Retail</option>
            <option value="">Turismo</option>
            <option value="">Tecnología</option>
            <option value="">Transporte y Logística</option>
            <option value="">Educación</option>
            <option value="">Salud y Farmacéutica</option>
            <option value="">Textiles y Confecciones</option>
            <option value="">Gastronomía y Alimentos</option>
          </select>
        </div>
      </div>
      <div class="width__form full__input2">
        <label for="">Número de colaboradores</label>
        <div class="input_content">
          <img src="assets/team_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Ej: 10 colaboradores</option>
            <option value="<100">&lt; 100</option>
            <option value="100-300">100 a 300</option>
            <option value="300-500">300 a 500</option>
            <option value="500-1000">500 a 1000</option>
            <option value=">1000">1000 &gt;</option>
          </select>
        </div>
      </div>
      <textarea
        name=""
        class="width__textarea"
        id=""
        placeholder="¿Cómo puede ayudar Trazzing a tu empresa? Cuéntanos tus necesidades."
      ></textarea>
      <button class="btn2 btn__modal2">Enviar</button>
    </form>
    <button class="close__modal" (click)="closeModal2()">
      <i class="bx bx-x"></i>
    </button>
    <img src="assets/lupa_red.png" class="lupa_red" alt="" />
    <img src="assets/lupa_blue.png" class="lupa_blue" alt="" />
    <img src="assets/linea__form.png" class="linea__form" alt="" />
  </div>
</div>

<app-footer></app-footer>
