<app-header></app-header>
<div class="contenedor__banner">
  <div class="content__banner">
    <h3>Optimiza tu proceso de reclutamiento</h3>
    <p>
      Descubre cómo Trazzing puede ayudarte a encontrar el mejor talento de
      manera eficiente y efectiva.
    </p>
    <button class="btn2" (click)="openModal2()">
      Explora nuestra servicio
    </button>
  </div>
</div>
<section class="section__empresas">
  <div class="text__empresas container_section">
    <h2>
      Nuestro servicio de gestión de procesos de reclutamiento y red de
      headhunters independientes está diseñado para adaptarse a las
      características de tu organización, sin importar su tamaño.
    </h2>
    <article>
      <h3>Nuestros Servicios</h3>
      <p>
        Ofrecemos dos servicios principales para ayudarte a optimizar tu proceso
        de reclutamiento y encontrar al mejor talento para tu empresa.
      </p>
    </article>
  </div>
</section>

<div class="section__contrata">
  <div class="conatiner__contrata container_section">
    <article class="art__contrata">
      <h2>
        Contrata con la herramienta
        <span class="blue">Trazzing </span>
      </h2>
      <p>
        Facilitamos la adquisición de talento ofreciendo un servicio integral de
        gestión de procesos de reclutamiento. Desde la publicación de vacantes
        hasta la selección del candidato ideal, utilizamos herramientas
        avanzadas y un enfoque personalizado para asegurarnos de que encuentres
        al mejor talento para tu empresa.
      </p>
    </article>
    <article class="art_competencias">
      <h2><span> Competencias Clave </span> para el Éxito Profesional</h2>
      <div class="cards__competencias">
        <img src="assets/linea_com.png" class="linea1__com" alt="" />
        <img src="assets/linea_com.png" class="linea1__com2" alt="" />
        <img src="assets/linea__form.png" class="linea1__com3" alt="" />
        <img src="assets/linea_com.png" class="linea1__com4" alt="" />
        <img src="assets/linea_com.png" class="linea1__com5" alt="" />
        <img src="assets/lupa_red.png" class="icon__movil" alt="">
        <img src="assets/lupa_blue.png" class="icon__movil2" alt="">
        <div class="item__competencias">
          <b>Iniciativa</b>
          <img src="assets/15.png" alt="" />
          <p>Capacidad para actuar activamente y anticiparse a problemas</p>
        </div>
        <div class="item__competencias">
          <b>Negociación</b>
          <img src="assets/16.png" alt="" />
          <p>
            Capacidad para alcanzar acuerdos beneficiosos entre diferentes
            intereses
          </p>
        </div>
        <div class="item__competencias">
          <b>Liderazgo</b>
          <img src="assets/17.png" alt="" />
          <p>
            Capacidad para influir positivamente y dirigir equipos hacia
            objeivos
          </p>
        </div>
        <div class="item__competencias">
          <b>Orientación a Resultados</b>
          <img src="assets/18.png" alt="" />
          <p>Enfoque en alcanzar y superar objetivos establecidos</p>
        </div>
        <div class="item__competencias">
          <b>Trabajo en Equipo</b>
          <img src="assets/19.png" alt="" />
          <p>Habilidad para colaborar eficazmente hacia metas comunes</p>
        </div>
      </div>
    </article>
    <article class="contrata__planes">
      <h2>Planes de Servicio Adaptados a tu Empresa</h2>
      <p>
        Elige el plan que mejor se adapte al tamaño y necesidades de tu empresa.
        Nuestros planes están diseñados para ofrecerte la flexibilidad y soporte
        que necesitas para optimizar tu proceso de adquisición de talento.
      </p>
    </article>
    <article class="contrata__cards">
      <div *ngFor="let card of cards" class="item__card">
        <img src="assets/lupa_blue.png" class="img__absolute" alt="" />
        <h3 class="title__mem">{{ card.title }}</h3>
        <p class="desc__item">{{ card.description }}</p>
        <div class="price__card">
          <p>$ {{ card.monthlyPrice }} <span>Plan mensual</span></p>
          <p>
            $ {{ card.annualPrice }}
            <span>Plan anual <br />(por mes)</span>
          </p>
        </div>
        <ul>
          <li *ngFor="let feature of card.features">
            <img src="assets/check.png" alt="" /> {{ feature }}
          </li>
        </ul>
        <button class="btn2 btn__item" (click)="openModal(card.title)">
          Elige {{ card.title }}
        </button>
      </div>
    </article>
  </div>
</div>

<section class="section__beneficios">
  <div class="contenedor__beneficios container_section">
    <article class="art__contrata">
      <h2>
        Contratación de
        <span class="pink">Trazzer </span>
      </h2>
      <p>
        Conéctate con nuestra comunidad de headhunters independientes, conocidos
        como Trazzers, especializados por tipo de perfil y sector. Ellos te
        ayudarán a encontrar candidatos altamente calificados y ajustados a tus
        necesidades específicas.
      </p>
    </article>
    <article class="art__beneficios">
      <h2>
        <span class="pink">Beneficios</span>
        de contratar a un
        <span class="blue">Trazzer</span>
      </h2>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios1.png" alt="" />
        <b>Especialización</b>
        <p>
          Trazers con experiencia en diferentes sectores y perfiles, asegurando
          un conocimiento profundo del mercado.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios2.png" alt="" />
        <b>Flexibilidad</b>
        <p>
          Contrata un Trazzer según tus necesidades y duración del proyecto.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios3.png" alt="" />
        <b>Resultados rápidos</b>
        <p>
          Accede a una red de profesionales listos para ayudarte a encontrar el
          mejor talento en menos tiempo.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios4.png" alt="" />
        <b>Reducción de costos</b>
        <p>
          Ahorra en costos de reclutamiento internos y externos al contratar un
          Trazzer que se encargará de todo el proceso.
        </p>
      </div>
      <div class="item__btn">
        <button class="btn2" (click)="openModal2()">Contrata un Trazzer</button>
      </div>
    </article>
  </div>
</section>
<section class="form__servicios">
  <div class="contenedor__form container_section">
    <h2>¿Listo para optimizar tu proceso de reclutamiento?</h2>
    <p class="p__form">
      Contáctanos hoy y descubre cómo Trazzing puede transformar la manera en
      que adquieres talento.
    </p>
    <form
      class="form_content form__section"
      [formGroup]="empresaForm"
      (ngSubmit)="onEnviarFormulario()"
    >
      <div class="width__form">
        <label for="">Nombre de contacto</label>
        <div class="input_content">
          <img src="assets/user_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
            formControlName="nombreContacto"
          />
        </div>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('nombreContacto')?.hasError('required') &&
            empresaForm.get('nombreContacto')?.touched
          "
        >
          Este campo es obligatorio.
        </p>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('nombreContacto')?.hasError('pattern') &&
            empresaForm.get('nombreContacto')?.touched
          "
        >
          Solo se permiten letras y espacios.
        </p>
      </div>

      <div class="width__form">
        <label for="">Correo electrónico</label>
        <div class="input_content">
          <img src="assets/email_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="empresa@email.com"
            formControlName="correoElectronico"
          />
        </div>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('correoElectronico')?.hasError('required') &&
            empresaForm.get('correoElectronico')?.touched
          "
        >
          Este campo es obligatorio.
        </p>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('correoElectronico')?.hasError('email') &&
            empresaForm.get('correoElectronico')?.touched
          "
        >
          Ingresa un correo válido.
        </p>
      </div>

      <div class="width__form">
        <label for="">Teléfono de contacto</label>
        <div class="input_content">
          <span class="icon__phone">
            +51
            <img src="assets/bottom_input.png" alt="" />
          </span>
          <input
            type="text"
            class="input_style p__ex"
            placeholder="Número de teléfono"
            formControlName="telefono"
            maxlength="9"
          />
        </div>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('telefono')?.hasError('required') &&
            empresaForm.get('telefono')?.touched
          "
        >
          Este campo es obligatorio.
        </p>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('telefono')?.hasError('pattern') &&
            empresaForm.get('telefono')?.touched
          "
        >
          Solo se permiten números.
        </p>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('telefono')?.hasError('maxlength') &&
            empresaForm.get('telefono')?.touched
          "
        >
          Máximo 9 caracteres.
        </p>
      </div>

      <div class="width__form">
        <label for="">Nombre de la compañía</label>
        <div class="input_content">
          <img src="assets/bussiness_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Compañía"
            formControlName="nombreEmpresa"
          />
        </div>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('nombreEmpresa')?.hasError('required') &&
            empresaForm.get('nombreEmpresa')?.touched
          "
        >
          Este campo es obligatorio.
        </p>
      </div>

      <div class="width__form">
        <label for="">Industria</label>
        <div class="input_content">
          <img src="assets/industria_input.png" alt="" />
          <select formControlName="industria" class="input_style">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Minería">Minería</option>
            <option value="Agroindustria">Agroindustria</option>
            <option value="Pesca">Pesca</option>
            <option value="Banca">Banca</option>
            <option value="Construcción">Construcción</option>
            <option value="Energía">Energía</option>
            <option value="Manufactura">Manufactura</option>
            <option value="Retail">Retail</option>
            <option value="Turismo">Turismo</option>
            <option value="Tecnología">Tecnología</option>
            <option value="Transporte y Logística">
              Transporte y Logística
            </option>
            <option value="Educación">Educación</option>
            <option value="Salud y Farmacéutica">Salud y Farmacéutica</option>
            <option value="Textiles y Confecciones">
              Textiles y Confecciones
            </option>
            <option value="Gastronomía y Alimentos">
              Gastronomía y Alimentos
            </option>
          </select>
        </div>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('industria')?.invalid &&
            empresaForm.get('industria')?.touched
          "
        >
          Este campo es obligatorio.
        </p>
      </div>

      <div class="width__form">
        <label for="">Número de colaboradores</label>
        <div class="input_content">
          <img src="assets/team_input.png" alt="" />
          <select formControlName="numeroColaboradores" class="input_style">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="<100">&lt; 100</option>
            <option value="100-300">100 a 300</option>
            <option value="300-500">300 a 500</option>
            <option value="500-1000">500 a 1000</option>
            <option value=">1000">1000 &gt;</option>
          </select>
        </div>
        <p
          class="error-text"
          *ngIf="
            empresaForm.get('numeroColaboradores')?.invalid &&
            empresaForm.get('numeroColaboradores')?.touched
          "
        >
          Este campo es obligatorio.
        </p>
      </div>

      <textarea
        class="width__textarea"
        placeholder="¿Cómo puede ayudar Trazzing a tu empresa?"
        formControlName="comentarios"
      ></textarea>

      <button class="btn2 btn__form" type="submit">Enviar</button>
    </form>
  </div>
  <img src="assets/lupa_red.png" class="lupa_red2" alt="" />
  <img src="assets/lupa_blue.png" class="lupa_blue2" alt="" />
  <img src="assets/linea__form.png" class="linea__form2" alt="" />
  <img src="assets/icon_red.png" class="form__movil" alt="" />
</section>

<div *ngIf="isModalOpen" class="modal__pay">
  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmitContact()"
    class="form_content modal__content"
    action=""
  >
    <h2 class="title__modal">
      Has seleccionado el plan
      <span class="plan__title">{{ selectedPlan }}</span>
    </h2>
    <!-- Error si no se selecciona un plan -->

    <b class="title__plan">Elegir plan</b>
    <p *ngIf="showPlanError" class="error-text mt_0">
      Por favor selecciona un plan antes de continuar.
    </p>
    <div class="plans__content">
      <article
        class="item_plan"
        [ngClass]="{ item_active: activePlanIndex === 0 }"
        (click)="setActivePlan(0)"
      >
        <h3>$ {{ selectedPlanPriceMonthly }}</h3>
        <p>Plan mensual</p>
      </article>
      <article
        class="item_plan"
        [ngClass]="{ item_active: activePlanIndex === 1 }"
        (click)="setActivePlan(1)"
      >
        <h3>$ {{ selectedPlanPriceAnnual }}</h3>
        <p>
          Plan anual <br />
          (por mes)
        </p>
      </article>
    </div>

    <div class="width__form">
      <label for="contactName">Nombre del contacto</label>
      <div class="input_content">
        <img src="assets/user_input.png" alt="" />
        <input
          type="text"
          class="input_style"
          placeholder="Nombre"
          formControlName="contactName"
        />
      </div>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('contactName')?.hasError('required') &&
          (contactForm.get('contactName')?.touched || submitted)
        "
      >
        Este campo es obligatorio.
      </p>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('contactName')?.hasError('pattern') &&
          (contactForm.get('contactName')?.touched || submitted)
        "
      >
        Solo se permiten letras.
      </p>
    </div>

    <div class="width__form">
      <label for="lastName">Apellido del contacto</label>
      <div class="input_content">
        <img src="assets/user_input.png" alt="" />
        <input
          type="text"
          class="input_style"
          placeholder="Apellido"
          formControlName="lastName"
        />
      </div>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('lastName')?.hasError('required') &&
          (contactForm.get('lastName')?.touched || submitted)
        "
      >
        Este campo es obligatorio.
      </p>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('lastName')?.hasError('pattern') &&
          (contactForm.get('lastName')?.touched || submitted)
        "
      >
        Solo se permiten letras.
      </p>
    </div>

    <div class="width__form">
      <label for="phone">Teléfono de contacto</label>
      <div class="input_content">
        <span class="icon__phone">
          +51
          <img src="assets/bottom_input.png" alt="" />
        </span>
        <input
          type="text"
          class="input_style p__ex"
          placeholder="Número de teléfono"
          formControlName="phone"
          maxlength="9"
        />
      </div>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('phone')?.hasError('required') &&
          (contactForm.get('phone')?.touched || submitted)
        "
      >
        Este campo es obligatorio.
      </p>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('phone')?.hasError('pattern') &&
          (contactForm.get('phone')?.touched || submitted)
        "
      >
        El número de teléfono debe tener exactamente 9 dígitos.
      </p>
    </div>

    <div class="width__form">
      <label for="companyName">Nombre de la empresa</label>
      <div class="input_content">
        <img src="assets/bussiness_input.png" alt="" />
        <input
          type="text"
          class="input_style"
          placeholder="Nombre de la empresa"
          formControlName="companyName"
        />
      </div>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('companyName')?.hasError('required') &&
          (contactForm.get('companyName')?.touched || submitted)
        "
      >
        Este campo es obligatorio.
      </p>
    </div>

    <div class="width__form">
      <label for="website">Sitio web de la empresa</label>
      <div class="input_content">
        <input
          type="text"
          class="input_style num__padd"
          placeholder="www.empresa.com"
          formControlName="website"
        />
      </div>
      <p
        class="error-text"
        *ngIf="
          contactForm.get('website')?.hasError('required') &&
          (contactForm.get('website')?.touched || submitted)
        "
      >
        Este campo es obligatorio.
      </p>
    </div>

    <button type="submit" class="btn2 btn__modal" (click)="submitted = true">
      Continuar
    </button>

    <button type="button" class="close__modal" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
    <img src="assets/lupa_red.png" class="lupa_red" alt="" />
    <img src="assets/lupa_blue.png" class="lupa_blue" alt="" />
    <img src="assets/linea__form.png" class="linea__form" alt="" />
  </form>
</div>

<div *ngIf="isPay2ModalOpen" class="modal__pay2">
  <div class="content__overflow overflow__pay">
    <form
      class="form_content modal__content2 form__pay"
      action=""
      novalidate
      (ngSubmit)="onSubmit($event.target)"
    >
      <h2 class="title__modal title__pay mb_2">Configuración de <span>Pago</span></h2>

      <!-- Nombre del titular -->
      <div class="width__form full__input">
        <label for="cardholder-name">Nombre del titular</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="cardholder-name"
            class="input_style num__padd"
            required
            title="El nombre del titular es obligatorio."
          />
        </div>
      </div>

      <!-- Número de tarjeta -->
      <div class="width__form full__input">
        <div class="label__space">
          <label for="card-number">Número de tarjeta</label>
          <img src="assets/tarjetas-aceptadas.png" alt="" />
        </div>
        <div class="input_content h__m">
          <input
            type="text"
            id="card-number"
            class="input_style num__padd"
            pattern="\d{16}"
            maxlength="16"
            required
            title="El número de tarjeta debe tener exactamente 16 dígitos."
          />
        </div>
      </div>

      <!-- Fecha de vencimiento -->
      <div class="width__form full__input2 i__m">
        <label for="expiry-date">Fecha de vencimiento</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="expiry-date"
            class="input_style num__padd"
            placeholder="MM/AA"
            pattern="\d{2}/\d{2}"
            required
            title="Introduce la fecha en el formato MM/AA."
          />
        </div>
      </div>

      <!-- CVC -->
      <div class="width__form full__input2 i__m">
        <label for="cvv">CVC</label>
        <div class="input_content h__m">
          <input
            type="password"
            id="cvv"
            class="input_style num__padd"
            placeholder="XXX"
            pattern="\d{3}"
            maxlength="3"
            required
            title="El CVC debe contener exactamente 3 dígitos."
          />
        </div>
      </div>

      <!-- Dirección de facturación -->
      <div class="width__form full__input">
        <label for="billing-address">Dirección de facturación</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="billing-address"
            class="input_style num__padd"
            required
            title="La dirección de facturación es obligatoria."
          />
        </div>
      </div>

      <!-- Correo electrónico -->
      <div class="width__form full__input">
        <label for="email">Correo electrónico</label>
        <div class="input_content h__m">
          <input
            type="email"
            id="email"
            class="input_style num__padd"
            required
            title="Introduce un correo electrónico válido."
          />
        </div>
      </div>

      <!-- País -->
      <div class="width__form full__input2">
        <label for="country">País</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="country"
            class="input_style num__padd"
            required
            title="El país es obligatorio."
          />
        </div>
      </div>

      <!-- Código postal -->
      <div class="width__form full__input2">
        <label for="postal-code">Código postal</label>
        <div class="input_content h__m">
          <input
            type="text"
            id="postal-code"
            class="input_style num__padd"
            required
            pattern="\d+"
            title="El código postal debe contener solo números."
          />
        </div>
      </div>

      <!-- Aceptar términos -->
      <div class="width__form full__input3">
        <input type="checkbox" id="terms" required />
        <label for="terms"
          >He leído y acepto los Términos y Condiciones de Trazzing</label
        >
      </div>

      <!-- Botón de envío -->
      <button type="submit" class="btn2 btn__modal2">
        Pagar ${{ selectedPlanPriceTotal }}
      </button>
    </form>

    <button type="button" class="close__modal close__pay" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
    <button class="close__back" (click)="goBackToModalPay()">
      <i class="bx bx-chevron-left"></i>
    </button>
  </div>
</div>

<div class="modal__pay2" *ngIf="isPay3ModalOpen">
  <div class="content__overflow2">
    <form class="form_content modal__content3" [formGroup]="reclutamientoForm" (ngSubmit)="enviarFormulario()">
      <h2 class="title__modal2">¿Listo para optimizar tu proceso de reclutamiento?</h2>
      <div class="p__modal2">
        <p>
          Contáctanos hoy y descubre cómo Trazzing puede transformar la manera en que adquieres talento.
        </p>
      </div>
    
      <div class="width__form full__input2">
        <label for="nombreContacto">Nombre de contacto</label>
        <div class="input_content">
          <img src="assets/user_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
            formControlName="nombreContacto"
          />
        </div>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('nombreContacto')?.hasError('required') && reclutamientoForm.get('nombreContacto')?.touched"
        >
          Este campo es obligatorio.
        </p>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('nombreContacto')?.hasError('pattern') && reclutamientoForm.get('nombreContacto')?.touched"
        >
          Solo se permiten letras y espacios.
        </p>
      </div>
    
      <div class="width__form full__input2">
        <label for="correoElectronico">Correo electrónico</label>
        <div class="input_content">
          <img src="assets/email_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="empresa@email.com"
            formControlName="correoElectronico"
          />
        </div>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('correoElectronico')?.hasError('required') && reclutamientoForm.get('correoElectronico')?.touched"
        >
          Este campo es obligatorio.
        </p>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('correoElectronico')?.hasError('email') && reclutamientoForm.get('correoElectronico')?.touched"
        >
          Ingresa un correo electrónico válido.
        </p>
      </div>
    
      <div class="width__form full__input2">
        <label for="telefonoContacto">Teléfono de contacto</label>
        <div class="input_content">
          <span class="icon__phone">
            +51
            <img src="assets/bottom_input.png" alt="" />
          </span>
          <input
            type="text"
            class="input_style p__ex"
            placeholder="Número de teléfono"
            formControlName="telefonoContacto"
            maxlength="9"
          />
        </div>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('telefonoContacto')?.hasError('required') && reclutamientoForm.get('telefonoContacto')?.touched"
        >
          Este campo es obligatorio.
        </p>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('telefonoContacto')?.hasError('pattern') && reclutamientoForm.get('telefonoContacto')?.touched"
        >
          Solo se permiten números.
        </p>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('telefonoContacto')?.hasError('maxlength') && reclutamientoForm.get('telefonoContacto')?.touched"
        >
          Máximo 9 caracteres.
        </p>
      </div>
    
      <div class="width__form full__input2">
        <label for="compania">Nombre de la compañía</label>
        <div class="input_content">
          <img src="assets/bussiness_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Compañía"
            formControlName="compania"
          />
        </div>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('compania')?.hasError('required') && reclutamientoForm.get('compania')?.touched"
        >
          Este campo es obligatorio.
        </p>
      </div>
    
      <div class="width__form full__input2">
        <label for="industria">Industria</label>
        <div class="input_content">
          <img src="assets/industria_input.png" alt="" />
          <select class="input_style" formControlName="industria">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Minería">Minería</option>
            <option value="Agroindustria">Agroindustria</option>
            <option value="Pesca">Pesca</option>
            <option value="Banca">Banca</option>
            <option value="Construcción">Construcción</option>
            <option value="Energía">Energía</option>
            <option value="Manufactura">Manufactura</option>
            <option value="Retail">Retail</option>
            <option value="Tecnología">Tecnología</option>
          </select>
        </div>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('industria')?.hasError('required') && reclutamientoForm.get('industria')?.touched"
        >
          Este campo es obligatorio.
        </p>
      </div>
    
      <div class="width__form full__input2">
        <label for="colaboradores">Número de colaboradores</label>
        <div class="input_content">
          <img src="assets/team_input.png" alt="" />
          <select class="input_style" formControlName="colaboradores">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="<100">&lt; 100</option>
            <option value="100-300">100 a 300</option>
            <option value="300-500">300 a 500</option>
            <option value=">1000">1000 &gt;</option>
          </select>
        </div>
        <p
          class="error-text"
          *ngIf="reclutamientoForm.get('colaboradores')?.hasError('required') && reclutamientoForm.get('colaboradores')?.touched"
        >
          Este campo es obligatorio.
        </p>
      </div>
    
      <textarea
        name="requisitos"
        class="width__textarea"
        placeholder="¿Cómo puede ayudar Trazzing a tu empresa? Cuéntanos tus necesidades."
        formControlName="requisitos"
      ></textarea>
    
      <button class="btn2 btn__modal2">Enviar</button>
    </form>
    
    <button class="close__modal" (click)="closeModal2()">
      <i class="bx bx-x"></i>
    </button>
    <img src="assets/lupa_red.png" class="lupa_red" alt="" />
    <img src="assets/lupa_blue.png" class="lupa_blue" alt="" />
    <img src="assets/linea__form.png" class="linea__form" alt="" />
  </div>
</div>

<app-footer></app-footer>
