<app-header></app-header>
<div class="contenedor__banner">
  <div class="content__banner">
    <h3>Optimiza tu proceso de reclutamiento</h3>
    <p>
      Descubre cómo Trazzing puede ayudarte a encontrar el mejor talento de
      manera eficiente y efectiva.
    </p>
    <button class="btn2">Solicitar una demo</button>
  </div>
</div>
<section class="section__empresas">
  <div class="text__empresas container_section">
    <h2>
      Nuestro servicio de gestión de procesos de reclutamiento y red de
      headhunters independientes está diseñado para adaptarse a las
      características de tu organización, sin importar su tamaño.
    </h2>
    <article>
      <h3>Nuestros Servicios</h3>
      <p>
        Ofrecemos dos servicios principales para ayudarte a optimizar tu proceso
        de reclutamiento y encontrar al mejor talento para tu empresa.
      </p>
    </article>
  </div>
</section>
<div class="section__contrata">
  <div class="conatiner__contrata container_section">
    
    <article class="contrata__planes">
      <h2>Planes de servicio adaptados a tu empresa</h2>
      <p>
        Elige el plan que mejor se adapte al tamaño y necesidades de tu empresa.
        Nuestros planes están diseñados para ofrecerte la flexibilidad y soporte
        que necesitas para optimizar tu proceso de adquisición de talento.
      </p>
    </article>
    <article class="contrata__cards">
      <div *ngFor="let card of cards" class="item__card">
        <h3 class="title__mem">{{ card.title }}</h3>
        <p class="desc__item">{{ card.description }}</p>
        <div class="price__card">
          <p>
            {{ card.monthlyPrice }} <span>Plan mensual</span>
          </p>
          <p>
            {{ card.annualPrice }}
            <span>Plan anual <br />(por mes)</span>
          </p>
        </div>
        <ul>
          <li *ngFor="let feature of card.features">
            <img src="assets/check.png" alt="" /> {{ feature }}
          </li>
        </ul>
        <button class="btn2 btn__item" (click)="openModal(card.title)">Elige {{ card.title }}</button>
      </div>
    </article>
  </div>
</div>

<section class="section__beneficios">
  <div class="contenedor__beneficios container_section">
    <article class="art__contrata">
      <h2>
        Contratación de
        <span class="pink">Trazzer </span>
      </h2>
      <p>
        Conéctate con nuestra comunidad de headhunters independientes, conocidos
        como Trazzers, especializados por tipo de perfil y sector. Ellos te
        ayudarán a encontrar candidatos altamente calificados y ajustados a tus
        necesidades específicas.
      </p>
    </article>
    <article class="art__beneficios">
      <h2>
        <span class="pink">Beneficios</span>
        de contratar un
        <span class="blue">Trazzer</span>
      </h2>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios1.png" alt="" />
        <b>Especialización</b>
        <p>
          Trazers con experiencia en diferentes sectores y perfiles, asegurando
          un conocimiento profundo del mercado.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios2.png" alt="" />
        <b>Flexibilidad</b>
        <p>
          Contrata un Trazzer según tus necesidades y duración del proyecto.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios3.png" alt="" />
        <b>Resultados rápidos</b>
        <p>
          Accede a una red de profesionales listos para ayudarte a encontrar el
          mejor talento en menos tiempo.
        </p>
      </div>
      <div class="itemt__ben">
        <img src="assets/icon_beneficios4.png" alt="" />
        <b>Reducción de costos</b>
        <p>
          Ahorra en costos de reclutamiento internos y externos al contratar un
          Trazzer que se encargará de todo el proceso.
        </p>
      </div>
      <div class="item__btn">
        <button class="btn2">Contrata un Trazzer</button>
      </div>
    </article>
  </div>
</section>
<section class="form__servicios">
  <div class="contenedor__form container_section">
    <h2>¿Listo para optimizar tu proceso de reclutamiento?</h2>
    <p>
      Contáctanos hoy y descubre cómo Trazzing puede transformar la manera en
      que adquieres talento.
    </p>
    <form class="form_content" action="">
      <div class="width__form">
        <label for="">Nombre de contacto</label>
        <div class="input_content">
          <img src="assets/user_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Correo electrónico</label>
        <div class="input_content">
          <img src="assets/email_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="empresa@email.com"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Teléfono de contacto</label>
        <div class="input_content">
          <span class="icon__phone">
            +51
            <img src="assets/bottom_input.png" alt="" />
          </span>
          <input
            type="text"
            class="input_style p__ex"
            placeholder="Número de teléfono"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Nombre de la compañia</label>
        <div class="input_content">
          <img src="assets/bussiness_input.png" alt="" />
          <input
            type="text"
            class="input_style"
            placeholder="Nombre y Apellido"
          />
        </div>
      </div>
      <div class="width__form">
        <label for="">Industria</label>
        <div class="input_content">
          <img src="assets/industria_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Minería</option>
            <option value="">Agroindustria</option>
            <option value="">Pesca</option>
            <option value="">Banca</option>
            <option value="">Construcción</option>
            <option value="">Energía</option>
            <option value="">Manufactura</option>
            <option value="">Retail</option>
            <option value="">Turismo</option>
            <option value="">Tecnología</option>
            <option value="">Transporte y Logística</option>
            <option value="">Educación</option>
            <option value="">Salud y Farmacéutica</option>
            <option value="">Textiles y Confecciones</option>
            <option value="">Gastronomía y Alimentos</option>
          </select>
        </div>
      </div>
      <div class="width__form">
        <label for="">Número de colaboradores</label>
        <div class="input_content">
          <img src="assets/team_input.png" alt="" />
          <select name="" class="input_style" id="">
            <option value="">Ej: 10 colaboradores</option>
          </select>
        </div>
      </div>
      <textarea
        name=""
        class="width__textarea"
        id=""
        placeholder="¿Cómo puede ayudar Trazzing a tu empresa? Cuéntanos tus necesidades."
      ></textarea>
    </form>
    <button class="btn2 btn__form">Enviar</button>
  </div>
</section>

<div *ngIf="isModalOpen" class="modal__pay">
  <form class="form_content modal__content" action="">
    <h2 class="title__modal">
      Has seleccionado el plan <span class="plan__title">{{ selectedPlan }}</span>
    </h2>
    <div class="width__form">
      <label for="">Nombre del contacto</label>
      <div class="input_content">
        <img src="assets/user_input.png" alt="" />
        <input type="text" class="input_style" placeholder="Nombre" />
      </div>
    </div>
    <div class="width__form">
      <label for="">Apellido del contacto</label>
      <div class="input_content">
        <img src="assets/user_input.png" alt="" />
        <input type="text" class="input_style" placeholder="Apellido" />
      </div>
    </div>
    <div class="width__form">
      <label for="">Teléfono de contacto</label>
      <div class="input_content">
        <span class="icon__phone">
          +51
          <img src="assets/bottom_input.png" alt="" />
        </span>
        <input
          type="text"
          class="input_style p__ex"
          placeholder="Número de teléfono"
        />
      </div>
    </div>
    <div class="width__form">
      <label for="">Email corporativo</label>
      <div class="input_content">
        <img src="assets/email_input.png" alt="" />
        <input
          type="email"
          class="input_style"
          placeholder="empresa@email.com"
        />
      </div>
    </div>
    <div class="width__form">
      <label for="">Nombre de la empresa</label>
      <div class="input_content">
        <img src="assets/bussiness_input.png" alt="" />
        <input type="text" class="input_style" />
      </div>
    </div>
    <div class="width__form">
      <label for="">Sitio web de la empresa</label>
      <div class="input_content">
        <input
          type="url"
          class="input_style num__padd"
          placeholder="www.empresa.com"
        />
      </div>
    </div>
    <button class="btn2 btn__modal">Continuar</button>
    <button class="close__modal" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
  </form>
</div>


<app-footer></app-footer>
